/*body {*/
/*   Location of the image */
/*  background-image: url(../images/backgroundimageme.png);*/
/*  background-image: url(../images/IMG_20210101_131606.jpg);*/
  
/*   Background image is centered vertically and horizontally at all times */
/*  background-position: center center;*/
  
/*   Background image doesn't tile */
/*  background-repeat: no-repeat;*/
  
/*
   Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height 
*/
/*  background-attachment: fixed;*/
  
/*
   This is what makes the background image rescale based
     on the container's size 
*/
/*  background-size: cover;*/
  
/*
   Set a background color that will be displayed
     while the background image is loading 
*/
/*
  background-color: #464646;
}
*/

/*
body {
    width: 100% auto;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}
*/


/*
.me {
    margin: 0;
    display: flex;
    width: 100%;
    position: relative;
}
*/


/*
* {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  color: #f7f7f7;
  margin: 0;
}

h1 {
  font-family: "Oxanium", cursive;
}

h1 {
  font-size: clamp(1.4rem, 4vw, 4rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 0 0.2rem 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  max-width: 1600px;
  height: 680px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  padding: 2rem;
   background: rgba(11, 95, 181, 0.6); 
}

.center {
  display: grid;
  align-content: center;
}

@media (max-width: 860px) {
  .overlay {
    top: 61%;
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 560px) {
  .overlay > h1 {
    text-align: center;
  }
}
*/

.intro{
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Monserrat', sans-serif;
	color: #c07a95;
	margin: 30px;
	font-size: 24px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.item {
	min-width: 0;
    margin: 20px;
	transition: 0.8s ease;
	box-shadow: 5px 5px 10px 2px #cccccc;
}

.item img {
	width: 500px;
	max-height: 330px;
	max-width: 100%;
}

.item:hover {
	transform: scale(0.95);
}




.project1 {
    background-color: #8dc1fd;
}





body{
        overflow-x: hidden;
	overflow-y: hidden;
    }

p {
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    object-fit: cover;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    position: sticky;*/
/*    font-size-adjust: none;*/
/*    text-size-adjust: none;*/


  position: absolute;
  display: block;
  width: 80%;
  margin-top: -44%;
  margin-left: 55%;
  max-width: 780px;
  font-size: 5vw;
  font-family: 'Roboto Slab', Rockwell, Serif;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
  padding: .6em 1em .6em 1.7em;
  

}

container img{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.button {
/*    margin: 0;*/
/*    margin-right: 270px;*/
/*    margin-top: 50px;*/
/*    text-align: right;*/
    font-family: 'Roboto Slab', Rockwell, Serif;
  font-weight: 400;
    line-height: 4vw;
    position: absolute;
  display: block;
  width: 20%;
  margin-top: -27.5%;
  margin-left: 63.7%;
  max-width: 350px;
    color: white;
    border-radius: 50px;
    background: #D8794B;
    border: #CB7244;
    box-shadow: 0.8px 0.8px 3px #CB7244;
/*
    padding-left: -20px;
    padding-right: -20px;
*/
    font-size: 2vw;
/*    font-size-adjust: none;*/
/*    text-size-adjust: none;*/
    outline: none; 
}

.button:hover {
    background-color: #CB7244;
    transition-duration: 0.4s;
    opacity: 3;
    cursor: pointer;
}

#about h2 {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -55%;
  margin-left: 57%;
  max-width: 500px;
  font-size: 3.5vw;
  font-family: 'Roboto Slab', Rockwell, Serif;
  font-weight: bold;
  color: #000;
  text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
  padding: .6em 1em .6em 1.7em;
  
}


#about span {
  position: absolute;
  display: block;
  width: 50%;
  margin-top: -40%;
  margin-left: 44%;
  max-width: 1200px;
  font-size: 1.2vw;
  font-family: 'Roboto Slab', Rockwell, Serif;
  font-weight: 300;
  color: #8dc1fd;
  padding: .6em 1em .6em 1.7em;
  filter: opacity(100%);
  word-wrap: break-word;
}

#about img {
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
    filter: opacity(5%);
}

/*
ul {
    position: absolute;
    display: block;
    width: 30%;
    margin-top: -40%;
    max-width: 200px;
    text-decoration: none;
    
}
*/

.arrow1 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -39%;
    margin-left: 8%;
/*    max-width: 200px;*/  
}

.arrow2 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -31.5%;
    margin-left: 8%;
/*    max-width: 200px;*/  
}

.arrow3 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -24%;
    margin-left: 8%;
/*    max-width: 200px;*/  
}

.social1 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: -38.5%;
    margin-left: 13%;
    text-decoration: none;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
}

.social2 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: -31%;
    margin-left: 13%;
    text-decoration: none;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
}

.social3 {
    position: absolute;
    display: block;
    width: 10%;
    max-width: 300px;
    margin-top: -23.5%;
    margin-left: 13%;
    text-decoration: none;
    font-family: 'Roboto Slab', Rockwell, Serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
}



/*
.flexbox {
    position: relative;
}

.main {
    margin-bottom: 10px;
    
}

.main,
.side {
  padding: 2%;
  border-radius: 10px;
  margin: 0px;
  position: absolute;
}

@media ( min-width : 600px ){
	.flexbox {
    display: -webkit-flex;
    display: flex;
	}
  .main {
    margin: 0 10px 0 0;
    position: absolute;
  }
}
*/


/*section {*/
/*  position: relative;*/
/*  top: -250px;*/
/*  bottom: 805px;*/
/*  right: 20px;*/
/*  padding: 20px;*/
/*
  text-align: right;
  margin: 0;
  font-size-adjust: none;
  text-size-adjust: none;
*/
/*
  top: 50%;
  left: 50%;
*/
/*  transform: translate(-50%, -50%);*/
/*  color: #fff;*/
/*  font-family: 'Roboto', sans-serif;*/
/*}*/

/*
p {
    margin: 0;
    margin-right: 270px;
    text-align: right;
    line-height: 95px;
    color: white;
    text-shadow: 0.5px 0.5px 2px #9bceff;
    font-size: 90px;
    font-size-adjust: none;
    text-size-adjust: none;
    position: static;
}
*/




@media only screen and (max-width: 767px) {
/*
  body {
     The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections 
    background-image: url(../images/backgroundimageme.png);
    background-size: cover;
  }
*/
    
/*
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
*/
    
    body{
        overflow-x: hidden;
	overflow-y: hidden;
    }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #8dc1fd;
/*  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
/*  position: fixed;*/
  display: inline-block;
  width: 100%;
  z-index: 3;
  height: 60px;
}

.header ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
/*  background-color: 155, 206, 255;*/
}

.header li a {
  display: block;
  padding: 21px 21px;
/*  border-right: 1px solid #f4f4f4;*/
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #9bceff;
}

.header li a:hover,
.header .menu-btn:hover {
  border-bottom: 6px solid #9bceff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.7em;
  padding: 0.5px 25px;
  margin: 15px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #9bceff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #8dc1fd;
  margin: 0px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    body{
    overflow-x: hidden;
    overflow-y: hidden;
}
    
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin: 0px;
    
  }
  .header .menu-icon {
    display: none;
    margin: 0px;
  }
}


/*
h1{
    text-align: right;
    text-shadow: 0.4px 0.4px 0.3px #9bceff;
    color: white;
    font-size: 85px;
    line-height: 95px;
    margin: 310px;
    margin-top: 190px;
    margin-bottom: 0px;
}
*/

/*
button{
    float: right;
    font-size: 25px;
    color: white;
    margin-top: 80px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    background: #D8794B;
    border: #CB7244;
    box-shadow: 0.8px 0.8px 3px #CB7244;
    text-decoration: none;
    margin-right: 320px;
}
*/

/*
#about{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
}*/
