wrapper {
    overflow-x: hidden;
}

.intro{
	display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
/*	font-family: 'Monserrat', sans-serif;*/
    font-family: 'Noto Sans', sans-serif;
	color: #9bceff;
	margin: 30px;
	font-size: 24px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.item {
	min-width: 0;
    margin: 20px;
	transition: 0.8s ease;
	box-shadow: 5px 5px 10px 2px #cccccc;
}

.item img {
	width: 500px;
	max-height: 330px;
	max-width: 100%;
}

.item:hover {
	transform: scale(0.95);
}




.project1 {
    background-color: #8dc1fd;
    position: absolute;
}



.slideshow-container {
    position: relative;
    margin: 0px auto;
    display: block;
    margin-top: 100px;
    text-align: center;
}

.lt {
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 10px 15px #888888;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
/*  color: #002C3D;*/
  color: #8dc1fd;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 200px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 200px;
  border-radius: 10px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #002C3D;
}

.project1desc {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.mySlides .isf {
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 10px 15px #888888;
}

.project2desc {
/*    text-align: center;*/
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.mySlides .vjf {
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 10px 15px #888888;
}

.project3desc {
/*    text-align: center;*/
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.mySlides .cl {
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 10px 15px #888888;
}

.project4desc {
/*    text-align: center;*/
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.mySlides .s32 {
    width: 100%;
    max-width: 800px;
    box-shadow: 5px 10px 15px #888888;
}

.project5desc {
/*    text-align: center;*/
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

video {
    width: 100%;
    max-width: 900px;
    box-shadow: 5px 10px 15px #888888;
}





body{
        overflow-x: hidden;
    }


/*
.hello {
    float: right;
    position: absolute;
    display: block;
    width: 50%;
    padding: 0px;
    margin-top: -145px;
    padding-left: 15px;
    margin-left: 160px;
}
*/



/*    width: 100vw;*/
/*    height: 100vh;*/
/*    object-fit: cover;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    position: sticky;*/
/*    font-size-adjust: none;*/
/*    text-size-adjust: none;*/


/*
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -44%;
  margin-left: 55%;
  
*/
.hello {    
    max-width: 780px;
    position: absolute;
    display: block;
    width: 40%;
    padding: 0px;
    margin-top: -44%;
    padding-left: 30%;
    margin-left: 55%;
  font-size: 5vw;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
  padding: .6em 1em .6em 1.7em;
  

}

.mepic{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.aboutpic {
    object-fit: cover;
    width: 100%;
    height: 250%;
    filter: opacity(5%);
}

.button {
/*    margin: 0;*/
/*    margin-right: 270px;*/
/*    margin-top: 50px;*/
/*    text-align: right;*/
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: 400;
    line-height: 4.4vw;
    position: absolute;
  display: block;
  width: 20%;
  margin-top: -27%;
  margin-left: 63.7%;
  max-width: 350px;
    color: white;
    border-radius: 50px;
    background: #D8794B;
    border: #CB7244;
    box-shadow: 0.8px 0.8px 3px #CB7244;
/*
    padding-left: -20px;
    padding-right: -20px;
*/
    font-size: 2.2vw;
/*    font-size-adjust: none;*/
/*    text-size-adjust: none;*/
    outline: none; 
}

.button:hover {
    background-color: #CB7244;
    transition-duration: 0.4s;
    opacity: 3;
    cursor: pointer;
}

h2 {
  position: absolute;
  display: block;
  width: 40%;
  margin-top: -66%;
  margin-left: 57%;
/*  max-width: 500px;*/
  font-size: 3.5vw;
/*  font-family: 'Roboto Slab', Rockwell, Serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #CB7244;
/*  text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);*/
  padding: .6em 1em .6em 1.7em;
  
}


#about span {
  position: absolute;
  display: block;
  width: 55%;
  margin-top: -47%;
  margin-left: 37.3%;
  font-size: 1.4vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8dc1fd;
  padding: .6em 1em .6em 1.7em;
  filter: opacity(100%);
  word-wrap: break-word;
}

/*
#about img {
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
    filter: opacity(5%);
}
*/

.sociallinks {
    margin-top: -40px;
}

.arrow1 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -39%;
    margin-left: 8.5%;
/*    max-width: 200px;*/  
}

.arrow2 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -29.5%;
    margin-left: 8.5%;
/*    max-width: 200px;*/  
}

.arrow3 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -20.5%;
    margin-left: 8.5%;
/*    max-width: 200px;*/  
}

.social1 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: -38.5%;
    margin-left: 13.5%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
}

.social2 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: -29%;
    margin-left: 13.5%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
}

.social3 {
    position: absolute;
    display: block;
    width: 10%;
    max-width: 300px;
    margin-top: -20%;
    margin-left: 13.5%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.5vw;
    cursor: pointer;
}

.social3:hover .extra{
    position: absolute;
    display: block;
    width: 10%;
    max-width: 300px;
    margin-top: 0%;
    margin-left: 1%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #CB7244;
    font-size: 1.5vw;
}

.extra { 
    display: none;
    color: #CB7244;
}

.backbutton {
    margin: 20px;
    margin-left: 45px;  
}

.btg {
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #8dc1fd;
}




@media only screen and (max-width: 767px) {
    
    body{
        overflow-x: hidden;
    }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #8dc1fd;
/*  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
/*  position: fixed;*/
  display: inline-block;
  width: 100%;
  z-index: 3;
  height: 60px;
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
}

.header ul {
  margin: 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
/*  background-color: 155, 206, 255;*/
}

.header li a {
  display: block;
  padding: 21px 21px;
/*  border-right: 1px solid #f4f4f4;*/
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px #9bceff;
}

.header li a:hover,
.header .menu-btn:hover {
  border-bottom: 6px solid #9bceff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.7em;
  padding: 0.5px 25px;
  margin: 15px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #9bceff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background-color: #8dc1fd;
  margin: 0px;
  font-size: 800px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 30px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    body{
    overflow-x: hidden;
    
}
    
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin: 0px;
    
  }
  .header .menu-icon {
    display: none;
    margin: 0px;
  }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    wrapper {
        overflow: hidden;
    }
    
    body{
    overflow-x: hidden;
    }
    
    .backbutton {
    margin: 20px;
    margin-left: 30px;  
    }
    
    .aboutpic {
    object-fit: cover;
    width: 100%;
    height: 250%;
    filter: opacity(5%);
}
    
/*
    #about {
    width: 500px;
    height: auto;
    overflow: hidden;
    }
*/
    
/*
    #about img {
    width: 100%;
    height: auto;
    display: block;
    position: relative; 
    filter: opacity(5%);
    overflow: hidden;
    margin-left: -145px;
}
*/
    
/*
    .hello {
    float: right;
    position: absolute;
    display: block;
    width: 50%;
    padding: 0px;
    margin-top: -145px;
    padding-left: 15px;
    margin-left: 160px;
}
*/

    
    #about {
        margin: 0px;
        padding: 0px;
        height: auto;
    }    

  .sociallinks {
    margin-top: -25px;
}
    
  h2 {
  position: absolute;
  display: block;
  width: 60%;
  margin-top: -71%;
  margin-left: 39%;
/*  max-width: 500px;*/
  font-size: 3.5vw;
/*  font-family: 'Roboto Slab', Rockwell, Serif;*/
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #CB7244;
  text-shadow: 0 .125em .125em rgba(154, 78, 38, 0.5);
  padding: .6em 1em .6em 1.7em;
  
}
    
    #about span {
  position: absolute;
  display: block;
  width: 97%;
  margin-top: -60.5%;
/*  margin-top: -48%;*/
  margin-left: 2%;
  font-size: 2.35vw;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8dc1fd;
  padding: .6em 1em .6em 1.7em;
  filter: opacity(100%);
  word-wrap: break-word;
}
    
    
    .header .logo {
  display: block;
  float: left;
  font-size: 1.7em;
  padding: 0.5px 25px;
  margin: 5px;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #9bceff;
  }
    
  .next {
  font-size: 40px;
  margin-top: -30px;
  right: -5px;
  border-radius: 3px 0 0 3px;
  }

  .prev {
  font-size: 40px;
  margin-top: -30px;
  left: -5px;
  border-radius: 10px 0 0 3px;
  }
    
  .project1desc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    

.project2desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    

.project3desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project4desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project5desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

video {
    width: 100%;
    max-width: 900px;
    box-shadow: 5px 10px 15px #888888;
}

    
/*
h2 {
  position: absolute;
  display: block;
  width: 60%;
  margin-top: -55%;
  margin-left: 50%;
  max-width: 500px;
  font-size: 4vw;

  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #000;
  text-shadow: 0 .125em .125em rgba(0, 0, 0, .5);
  padding: .6em 1em .6em 1.7em;
  
}

#about span {
  position: absolute;
  display: block;
  width: 80%;
  margin-top: -38%;
  margin-left: 10%;
  max-width: 1200px;
  font-size: 2vw;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8dc1fd;
  padding: .6em 1em .6em 1.7em;
  filter: opacity(100%);
  word-wrap: break-word;
}
*/

.arrow1 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -0.5%;
    margin-left: 14.5%;
/*    max-width: 200px;*/  
}

.arrow2 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -0.5%;
    margin-left: 43%;
/*    max-width: 200px;*/  
}

.arrow3 {
    position: absolute;
    display: block;
    width: 3%;
    margin-top: -0.5%;
    margin-left: 72%;
/*    max-width: 200px;*/  
}

.social1 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: 0%;
    margin-left: 20.5%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.8vw;
}

.social2 {
    position: absolute;
    display: block;
    width: 1%;
    max-width: 20px;
    margin-top: 0%;
    margin-left: 49%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.8vw;
}

.social3 {
    position: absolute;
    display: block;
    width: 10%;
    max-width: 300px;
    margin-top: 0%;
    margin-left: 78%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #8dc1fd;
    font-size: 1.8vw;
    cursor: pointer;
}

.social3:hover .extra{
    position: absolute;
    display: block;
    width: 10%;
    max-width: 300px;
    margin-top: 0%;
    margin-left: 1%;
    text-decoration: none;
/*    font-family: 'Roboto Slab', Rockwell, Serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #CB7244;
    font-size: 1.5vw;
}

.extra { 
    display: none;
}
    
    
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    .next {
  font-size: 50px;
  margin-top: -30px;
  right: -5px;
  border-radius: 3px 0 0 3px;
  }

  .prev {
  font-size: 50px;
  margin-top: -30px;
  left: -5px;
  border-radius: 10px 0 0 3px;
  }
    
  .project1desc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    

.project2desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 115px;
    padding-right: 115px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    

.project3desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 115px;
    padding-right: 115px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project4desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 115px;
    padding-right: 115px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project5desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 115px;
    padding-right: 115px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}  
    
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

 .next {
  font-size: 70px;
  margin-top: -30px;
  right: 70px;
  border-radius: 3px 0 0 3px;
  }

  .prev {
  font-size: 70px;
  margin-top: -30px;
  left: 70px;
  border-radius: 10px 0 0 3px;
  }
    
  .project1desc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    

.project2desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 225px;
    padding-right: 225px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    

.project3desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 225px;
    padding-right: 225px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project4desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 225px;
    padding-right: 225px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project5desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 225px;
    padding-right: 225px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}  

    
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    
.next {
  font-size: 40px;
  margin-top: -30px;
  right: -5px;
  border-radius: 3px 0 0 3px;
  }

  .prev {
  font-size: 40px;
  margin-top: -30px;
  left: -5px;
  border-radius: 10px 0 0 3px;
  }
    
  .project1desc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    

.project2desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    

.project3desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project4desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project5desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}


@media only screen
and (min-device-width : 568px)
and (max-device-width : 767px) {
   
  .next {
  font-size: 50px;
  margin-top: -30px;
  right: -5px;
  border-radius: 3px 0 0 3px;
  }

  .prev {
  font-size: 50px;
  margin-top: -30px;
  left: -5px;
  border-radius: 10px 0 0 3px;
  }
    
  .project1desc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    

.project2desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
    

.project3desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project4desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}


.project5desc {
    margin-top: 100px;
    margin-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}  
    
}
